<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
                <img src="assets/images/logo.png" alt="logo" style="height:56px;" class="d-block mx-md-0 mx-auto mb-2">
                <h5 class="mb-0">Casita del Sabor</h5>
            </div>
            <div class="col-md-8" id="contact">
                <h5>Contactanos</h5>
                <p class="mb-1">Dirección: <a href="https://maps.app.goo.gl/28vZQNwFhZgDQrHU9" target="_blank"
                        rel="noopener noreferrer" class="text-white text-decoration-none">Cra. 81 B N° 9-31 Bogotá,
                        Colombia</a></p>
                <p class="mb-1">Teléfono: 7 59 14 74 - 696 66 58 3202350456 3115671184</p>
                <p class="mb-0">Email: <a href="mailto:ventas@lacasitadelsabor.com"
                        class="text-white text-decoration-none">ventas@lacasitadelsabor.com</a></p>
            </div>
        </div>
    </div>
</footer>
