
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* Optional: make the numeric input visually consistent */
.input-group input[type="number"] {
	-moz-appearance: textfield;
}

