.card-img-box {
  height: 50vh;       
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-img-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}