@font-face {
    font-family: 'Monsterrat';
    src: url('assets/fonts/Monsterrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    --bs-body-font-family: 'Monsterrat', sans-serif;
}